.mainContainerPage {
  align-items: center;
  justify-content: center;
}
.containerExtras {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.countryList {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: auto;
  width: 100%;
  max-width: 1000px;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
}
.rootCard {
  background: white;
  width: 400px !important;
  border: solid black !important;
  margin-top: 30px !important;
  padding: 2px 4px;
  display: flex;
  align-items: center;
  width: 400;
}
.checkboxStyles {
  background: #f8f5f1;
}
.button {
  display: block;
  margin-right: 10px;
  text-transform: none !important;
  font-size: 15px !important;
}
.labelStyle {
  font-size: 15px;
  font-weight: 500;
}
